body {
    text-align: center;
    font-family: 'Arial', sans-serif;
}

.game-title {
    font-family: 'Gloria Hallelujah', cursive;
    text-transform: uppercase;
    text-align: center;
}

.start-modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #ffffff;
    /*background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
}

.start-modal .char-boy,
.start-modal .char-cat-girl {
    display: inline-block;
}